.img {
    width: 100%;
}

.card {
    width: 28rem;
    display: flex;
    position: relative;
    top: 3rem;
    justify-content: center;
    margin: 0 auto;
    animation: rotation 2s infinite linear;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 16rem;
  }
}

.cardSideFront {
    width: 100%;
    overflow: hidden;
    backface-visibility: hidden;
}
.cardSideBack {
    width: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    }


@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}